<h1>Topics</h1>

  <div class="row">
    <div class="col-md-8">
      <!-- We loop over each topic in @topics -->
      <% @topics.each do |topic| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
              <!-- We create a link to the show view for each topic -->
              <%= link_to topic.name, topic %>
            </h4>
            <small>
              <%= topic.description %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <!-- We create a link to create a new topic -->
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    </div>
  </div>
