<h1>Topics</h1>

  <div class="row">
    <div class="col-md-8">
      <!-- We loop over each topic in @topics -->
      <% @topics.each do |topic| %>
         <%= render partial: 'topic', locals: { topic: topic} %>
      <% end %>
    </div>
    <% if user_is_authorized_for_topics? %>
      <div class="col-md-4">
        <!-- We create a link to create a new topic -->
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
