<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <!-- We refactor how we link to individual posts using the topic_post_path method. This helper
      makes a topic and a post and generates a path to the posts show view -->
      <%= link_to post.title, topic_post_path(@topic, post) %>
    </h4>
    <small>
      submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>
